<h1>About</h1>
<h3>Welcome to the movie review web app</h3>

<div class="about">
  <p>What is it, I think its easier answering, what isn't it?</p>

  <p>This review app enables one to come check out movies that have just recently been released.
    One can create an account, and if they are logged in, they can help recommend and improve the movie review
    by adding a star rating to it and/or a comment.</p>

  <p>Contact me at jacknkiarie@gmail.com</p>
</div>
