@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  background-color: darkred;
}

/* header */
.nav {
  padding-left: 280px;
}

.navbar-right {
  padding-right: 40px;
}

/* index page */
#logo {
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding-left: 20px;

  &:hover {
    text-decoration: none;
    color: lightcoral;
  }
}

.image-wrapper {
  margin-bottom: 30px;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
}

/* show page */
.table-responsive {
  padding-top: 30px;
}

/* about page*/
.about {
  color: white;
}